body{
    /* font-family: "Alfa Slab One" sans-serif , Helvetica; */
    /* font-family: "Roboto" , sans-serif , Helvetica; */
    font-family: 'Libre Franklin', sans-serif , Helvetica;
    scroll-behavior: smooth;
    overflow-x:hidden;
    background: url('../img/bb-bg.jpg')  ;
    background-size: cover;
}

header img {
    height: 100px;
}

.gif-spinner img {
    width: 40px;
}

.img {
    width: 100%;
    height: 100%;
}

.info-display {
    position: absolute;
    display: none;
    width: 90%;
    height: 100%;
    top: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.img-info:hover>.info-display {
    display: block;
}

hr {
    background-color: white;
}

span {
    font-weight: lighter;
}

.container{
    border: .5px solid rgb(37, 37, 37);
    background: rgba(97, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), -10px 10px 10px rgba(0, 0, 0, 0.5);
    border-top: none;
    border-right: none;
}